{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "**/*.hbs",
      "options": {
        "parser": "html",
        "printWidth": 1000000,
        "tabWidth": 2,
        "singleQuote": true,
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": ".json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}