<button data-fancybox-close title="Modalı kapat" class="clamp-[size,38px,44px] border border-secondary/20 rounded-full flex-center cursor-pointer lg:transition-colors lg:duration-300 lg:hover:border-dark">
    <i class="icon-xmark clamp-[text,14px,16px] clamp-[h,14px,16px] text-dark"></i>
</button>