{{> partials/header.hbs pageTitle="Hakk覺m覺zda" }}

<main class="pt-(--headerHeight)">
    {{> partials/components/breadcrumb.hbs
        breadcrumb=(array
            (object text="Ana Sayfa" url="index.html")
            (object text="Kurumsal" url="#")
            (object text="Hakk覺m覺zda" url="about-us.html")
        )
    }}
    {{> partials/components/about-us/about.hbs }}
    {{> partials/components/index/team.hbs }}
    {{> partials/components/about-us/gallery.hbs }}
</main>

{{> partials/footer.hbs cta=true }}