{{> partials/header.hbs pageTitle="Ana Sayfa" }}

<main class="pt-(--headerHeight)">
    {{> partials/components/index/hero.hbs }}
    {{> partials/components/index/working-areas.hbs }}
    {{> partials/components/index/which.hbs }}
    {{> partials/components/index/appointment.hbs }}
    {{> partials/components/index/location.hbs }}
    {{> partials/components/index/about.hbs }}
    {{> partials/components/index/process.hbs }}
    {{> partials/components/index/team.hbs }}
    {{> partials/components/index/comments.hbs }}
    {{> partials/components/index/faq.hbs }}
    {{> partials/components/index/blog.hbs }}
</main>

{{> partials/footer.hbs cta=true }}