{{> partials/header.hbs pageTitle="Uzmanlarımız" }}

<main class="pt-(--headerHeight)">
    {{> partials/components/breadcrumb.hbs
        breadcrumb=(array
            (object text="Ana Sayfa" url="index.html")
            (object text="Uzmanlarımız" url="team.html")
        )
    }}
    <section class="clamp-[mb,50px,150px]">
        <div class="container">
            <div class="max-w-1170 mx-auto">
                <h1 class="text-h1 font-semibold text-dark clamp-[my,24px,50px] text-center">Uzmanlarımız</h1>
                <div class="grid grid-cols-3 clamp-[gap,16px,24px] max-lg:grid-cols-2 max-sm:grid-cols-1">
                    {{#each team.team as |item|}}
                        {{> partials/components/team-card.hbs item=item }}
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</main>

{{> partials/footer.hbs cta=true }}