{{> partials/header.hbs pageTitle="Dil ve Konuşma Terapisi" }}

<main class="pt-(--headerHeight)">
    {{> partials/components/breadcrumb.hbs
        breadcrumb=(array
            (object text="Ana Sayfa" url="index.html")
            (object text="Çalışma Alanlarımız" url="#")
            (object text="Dil ve Konuşma Terapisi" url="working-areas.html")
        )
    }}
    {{> partials/components/working-areas/hero.hbs }}
    {{> partials/components/working-areas/content.hbs }}
</main>

{{> partials/footer.hbs cta=true }}