@import "./style.css";
@import "tailwindcss";
@layer theme, base, components, utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #FF6600;
    --color-secondary: #336666;
    --color-dark: #1E1E1E;
    --color-light: #E5E4E8;
    --color-text: #3A3C47;

    --color-gray: #ADB5BD;
    --color-gray-50: #F8F9FA;
    --color-gray-100: #E9ECEF;
    --color-gray-200: #DEE2E6;
    --color-gray-300: #CED4DA;
    --color-gray-400: #ADB5BD;
    --color-gray-500: #6C757D;
    --color-gray-600: #495057;
    --color-gray-700: #343A40;
    --color-gray-800: #212529;
    --color-gray-900: #1B1D20;
    --color-gray-950: #121314;

    --color-transparent: transparent;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-danger: #bb2124;
    --color-success: #22bb33;
    --color-warning: #f0ad4e;

    --font-sans: "Google Sans Flex", sans-serif;

    --shadow-card: 0 9px 11.5px -2px rgba(30, 30, 30, 0.13);

    --spacing: 0.0625rem;
    --spacing-0.5: 0.125rem;  /* 2px */
    --spacing-0.75: 0.1875rem;  /* 3px */
    --spacing-1.5: 0.375rem;  /* 6px */
    --spacing-2.5: 0.625rem;  /* 10px */
    --spacing-3.5: 0.875rem;  /* 14px */
    --spacing-0: 0rem;        /* 0px */
    --spacing-1: 0.25rem;     /* 4px */
    --spacing-2: 0.5rem;      /* 8px */
    --spacing-3: 0.75rem;     /* 12px */
    --spacing-4: 1rem;        /* 16px */
    --spacing-4.5: 1.125rem;  /* 18px */
    --spacing-5: 1.25rem;     /* 20px */
    --spacing-5.5: 1.375rem;  /* 22px */
    --spacing-6: 1.5rem;      /* 24px */
    --spacing-6.5: 1.625rem;  /* 26px */
    --spacing-7: 1.75rem;     /* 28px */
    --spacing-7.5: 1.875rem;  /* 30px */
    --spacing-8: 2rem;        /* 32px */
    --spacing-8.5: 2.125rem;  /* 34px */
    --spacing-9: 2.25rem;     /* 36px */
    --spacing-9.5: 2.375rem;  /* 38px */
    --spacing-10: 2.5rem;     /* 40px */
    --spacing-10.5: 2.625rem;  /* 42px */
    --spacing-11: 2.75rem;    /* 44px */
    --spacing-12: 3rem;       /* 48px */
    --spacing-12.5: 3.125rem;  /* 50px */
    --spacing-13: 3.25rem;    /* 52px */
    --spacing-14: 3.5rem;     /* 56px */
    --spacing-16: 4rem;       /* 64px */
    --spacing-17: 4.25rem;    /* 68px */
    --spacing-18: 4.5rem;     /* 72px */
    --spacing-19: 4.75rem;    /* 76px */
    --spacing-20: 5rem;       /* 80px */
    --spacing-24: 6rem;       /* 96px */
    --spacing-28: 7rem;       /* 112px */
    --spacing-32: 8rem;       /* 128px */
    --spacing-36: 9rem;       /* 144px */
    --spacing-40: 10rem;      /* 160px */
    --spacing-44: 11rem;      /* 176px */
    --spacing-48: 12rem;      /* 192px */
    --spacing-52: 13rem;      /* 208px */
    --spacing-56: 14rem;      /* 224px */
    --spacing-60: 15rem;      /* 240px */
    --spacing-64: 16rem;      /* 256px */
    --spacing-72: 18rem;      /* 288px */
    --spacing-80: 20rem;      /* 320px */
    --spacing-96: 24rem;      /* 384px */

    --radius: 0.0625rem;
    --radius-0.5: 0.125rem;  /* 2px */
    --radius-0.75: 0.1875rem;  /* 3px */
    --radius-1.5: 0.375rem;  /* 6px */
    --radius-2.5: 0.625rem;  /* 10px */
    --radius-3.5: 0.875rem;  /* 14px */
    --radius-0: 0rem;        /* 0px */
    --radius-1: 0.25rem;     /* 4px */
    --radius-2: 0.5rem;      /* 8px */
    --radius-3: 0.75rem;     /* 12px */
    --radius-4: 1rem;        /* 16px */
    --radius-4.5: 1.125rem;  /* 18px */
    --radius-5: 1.25rem;     /* 20px */
    --radius-5.5: 1.375rem;  /* 22px */
    --radius-6: 1.5rem;      /* 24px */
    --radius-6.5: 1.625rem;  /* 26px */
    --radius-7: 1.75rem;     /* 28px */
    --radius-7.5: 1.875rem;  /* 30px */
    --radius-8: 2rem;        /* 32px */
    --radius-8.5: 2.125rem;  /* 34px */
    --radius-9: 2.25rem;     /* 36px */
    --radius-9.5: 2.375rem;  /* 38px */
    --radius-10: 2.5rem;     /* 40px */
    --radius-10.5: 2.625rem;  /* 42px */
    --radius-11: 2.75rem;    /* 44px */
    --radius-12: 3rem;       /* 48px */
    --radius-12.5: 3.125rem;  /* 50px */
    --radius-13: 3.25rem;    /* 52px */
    --radius-14: 3.5rem;     /* 56px */
    --radius-16: 4rem;       /* 64px */
    --radius-20: 5rem;       /* 80px */
    --radius-24: 6rem;       /* 96px */
    --radius-28: 7rem;       /* 112px */
    --radius-32: 8rem;       /* 128px */
    --radius-36: 9rem;       /* 144px */
    --radius-40: 10rem;      /* 160px */
    --radius-44: 11rem;      /* 176px */
    --radius-48: 12rem;      /* 192px */
    --radius-52: 13rem;      /* 208px */
    --radius-56: 14rem;      /* 224px */
    --radius-60: 15rem;      /* 240px */
    --radius-64: 16rem;      /* 256px */
    --radius-72: 18rem;      /* 288px */
    --radius-80: 20rem;      /* 320px */
    --radius-96: 24rem;      /* 384px */

    --aspect-portrait: 9 / 16;

    --breakpoint-3xl: 1680px;
    --breakpoint-xxl: 1440px;
    --breakpoint-xl: 1280px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 576px;
    --breakpoint-xs: 480px;
}

@plugin "@igorkowalczyk/is-browser";
@plugin 'tailwind-scrollbar' {
    preferredStrategy: 'pseudoelements';
    nocompatible: true;
}
@plugin "tailwind-clamp" {
    minSize: 768px;
    maxSize: 1680px;
}

:root {
    --container: 1620px;
    --padding: 16px;
    --left: calc((100% - var(--container)) / 2);
    --viewport-min: 768;
    --viewport-max: 1680;

    @media screen and (max-width: 1620px) {
        --left: var(--padding);
    }
}
@utility container {
    padding-inline: var(--padding);
    max-width: calc(var(--container) + (var(--padding) * 2));
    margin-inline: auto;
}

@utility font-heavy {
    font-weight: 1000;
}

@utility text-fill-transparent {
    -webkit-text-fill-color: transparent;
}

@utility transform-fill {
    transform-box: fill-box;
}

@utility transform-flat {
    transform-style: flat;
}

@utility transform-3d {
    transform-style: preserve-3d;
}

@utility backface-hidden {
    backface-visibility: hidden;
}

@utility backface-visible {
    backface-visibility: visible;
}

@utility writing-vertical-rl {
    writing-mode: vertical-rl;
}

@utility text-orientation-mixed {
    text-orientation: mixed;
}

@utility overflow-fix {
    mask-image: -webkit-radial-gradient(white, black);
}

@utility full-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

@utility full-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}

@utility fixed-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@utility absolute-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@utility absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

@utility underline-text {
    @apply bg-no-repeat bg-[linear-gradient(180deg,transparent_95%,currentColor)] bg-size-[0_100%];
}

@utility bg-size-full {
    background-size: 100% 100% !important;
}

@utility variable-from-* {
    --variable-from: --value(integer);
    --variable-min-vw: --modifier(integer);
}
@utility variable-to-* {
    --variable-to: --value(integer);
    --variable-max-vw: --modifier(integer);
    --variable: clamp(calc(var(--variable-from) * var(--spacing)), round(nearest, calc(var(--variable-from) * var(--spacing) + (var(--variable-to) - var(--variable-from)) * ((100vw - (var(--variable-min-vw, var(--viewport-min)) * var(--spacing))) / (var(--variable-max-vw, var(--viewport-max)) - var(--variable-min-vw, var(--viewport-min))))), 1px), calc(var(--variable-to) * var(--spacing)));
}

@utility text-h1 {
    @apply clamp-[text,32px,54px] leading-tight;
}
@utility text-h2 {
    @apply clamp-[text,28px,44px] leading-tight;
}
@utility text-h3 {
    @apply clamp-[text,24px,32px] leading-tight;
}
@utility text-body {
    @apply clamp-[text,16px,18px] leading-relaxed;
}

html, body {
    scrollbar-gutter: stable;
}
body {
    @apply bg-[#F1F1F4] antialiased scrollbar-thin scrollbar-thumb-primary scrollbar-track-gray-50 scrollbar-thumb-rounded-3xl;
}

/* Reset */
input, form, table, select, textarea, button { @apply appearance-none; }
button { @apply cursor-pointer; }
select::-ms-expand { @apply hidden!; }
*, *:focus, *:focus-visible, *:hover, *:active, *::before, *::after { @apply outline-none!; }
footer, header, nav, section, main, article { @apply block; }
a, a:hover, a:active, a:focus, a:visited { @apply decoration-0; }
/*ol, ul, menu { @apply list-none m-0 p-0; }*/
/*blockquote, q { @apply [quotes:none]; }*/
/*blockquote:before, blockquote:after, q:before, q:after { @apply content-none; }*/
/*table { @apply border-spacing-0 border-collapse; }*/
/*input { @apply appearance-none; }*/
/*svg { @apply overflow-visible block; }*/
/*em { @apply italic; }*/
/*strong { @apply font-bold; }*/
input[type=search]::-ms-clear { @apply hidden h-0 w-0; }
input[type=search]::-ms-reveal { @apply hidden h-0 w-0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { @apply hidden; }
input[type="date"]::-webkit-inner-spin-button { @apply hidden appearance-none; }
input[type="date"]::-webkit-calendar-picker-indicator { @apply hidden appearance-none; }
input[type="file"]::-webkit-file-upload-button { @apply cursor-pointer }
select:required:invalid { @apply text-black/50; }
option[value=""][disabled] { @apply hidden; }
option { @apply text-black; }
