@import "swiper/css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "air-datepicker/air-datepicker.css";

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

#air-datepicker-global-container {
    z-index: 9999999;
}

.air-datepicker {
    --adp-day-name-color: #FF6600 !important;
    --adp-accent-color: #FF6600 !important;
    --adp-color-current-date: #FF6600 !important;
    --adp-cell-background-color-selected: #FF6600 !important;
    --adp-cell-background-color-hover: #DEE2E6 !important;
    --adp-font-family: "Google Sans Flex" !important;
    --adp-border-radius: 12px !important;
}

.air-datepicker-cell.-selected-.-focus- {
    --adp-cell-background-color-selected-hover: #FF6600 !important;
}
