/*@import "swiper/css/bundle";*/
@import "./components/fonts.css";
@import "./components/form.css";
@import "swiper/css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "air-datepicker/air-datepicker.css";

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

#air-datepicker-global-container {
    @apply z-9999999
}

.air-datepicker {
    --adp-day-name-color: theme(colors.primary) !important;
    --adp-accent-color: theme(colors.primary) !important;
    --adp-color-current-date: theme(colors.primary) !important;
    --adp-cell-background-color-selected: theme(colors.primary) !important;
    --adp-cell-background-color-hover: theme(colors.gray.200) !important;
    --adp-font-family: theme(fontFamily.sans) !important;
    --adp-border-radius: 12px !important;
}

.air-datepicker-cell.-selected-.-focus- {
    --adp-cell-background-color-selected-hover: theme(colors.primary) !important;
}