@import "swiper/css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "air-datepicker/air-datepicker.css";

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

#air-datepicker-global-container {
    z-index: 9999999;
}

.air-datepicker {
    --adp-day-name-color: #FF6600 !important;
    --adp-accent-color: #FF6600 !important;
    --adp-color-current-date: #FF6600 !important;
    --adp-cell-background-color-selected: #FF6600 !important;
    --adp-cell-background-color-hover: #DEE2E6 !important;
    --adp-font-family: "Google Sans Flex" !important;
    --adp-border-radius: 12px !important;
}

.air-datepicker-cell.-selected-.-focus- {
    --adp-cell-background-color-selected-hover: #FF6600 !important;
}

@media (width > 1024px) {
    @keyframes reveal-move {
        0% {
            opacity: 0;
            translate: var(--translate-x, 0%) var(--translate-y, 0%) 0;
            scale: var(--scale, 1);
            filter: blur(var(--blur, 0));
        }
        100% {
            opacity: 1;
            translate: 0 0 0;
            scale: 1;
            filter: blur(0);
        }
    }

    [data-animation] {
        opacity: 0;
        translate: var(--translate-x, 0%) var(--translate-y, 0%) 0;
        scale: var(--scale, 1);
        filter: blur(var(--blur, 0));

        &.animate {
            /*@apply animation-ease-expo;*/
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-fill-mode: forwards;
            animation-duration: var(--duration, 1.5s);
            animation-name: reveal-move;
            animation-delay: var(--delay, 0s);
        }
    }
}

/***************************************************
 * Generated by .logo-svg Artista on 2/22/2026, 3:52:02 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

.logo-svg .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

.logo-svg.active .svg-elem-1 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.17s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.17s;
}

.logo-svg.active .svg-elem-2 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24000000000000002s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24000000000000002s;
}

.logo-svg.active .svg-elem-3 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.31000000000000005s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.31000000000000005s;
}

.logo-svg.active .svg-elem-4 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.38s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.38s;
}

.logo-svg.active .svg-elem-5 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45000000000000007s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45000000000000007s;
}

.logo-svg.active .svg-elem-6 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.52s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.52s;
}

.logo-svg.active .svg-elem-7 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5900000000000001s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5900000000000001s;
}

.logo-svg.active .svg-elem-8 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.66s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.66s;
}

.logo-svg.active .svg-elem-9 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-10 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7300000000000001s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7300000000000001s;
}

.logo-svg.active .svg-elem-10 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-11 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

.logo-svg.active .svg-elem-11 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-12 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.87s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.87s;
}

.logo-svg.active .svg-elem-12 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-13 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9400000000000001s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9400000000000001s;
}

.logo-svg.active .svg-elem-13 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-14 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.0100000000000002s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.0100000000000002s;
}

.logo-svg.active .svg-elem-14 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-15 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s;
}

.logo-svg.active .svg-elem-15 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-16 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
}

.logo-svg.active .svg-elem-16 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-17 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2200000000000002s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2200000000000002s;
}

.logo-svg.active .svg-elem-17 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-18 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2900000000000003s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2900000000000003s;
}

.logo-svg.active .svg-elem-18 {
    fill: rgb(51, 102, 102);
}

.logo-svg .svg-elem-19 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3600000000000003s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3600000000000003s;
}

.logo-svg.active .svg-elem-19 {
    fill: rgb(255, 102, 0);
}

.logo-svg .svg-elem-20 {
    fill: transparent;
    -webkit-transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4300000000000002s;
    transition: fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4300000000000002s;
}

.logo-svg.active .svg-elem-20 {
    fill: rgb(255, 102, 0);
}
