/*@import "swiper/css/bundle";*/
@import "swiper/css";
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* =========================
   Google Sans Flex (Variable)
   ========================= */
@font-face {
    font-family: "Google Sans Flex";
    src: url("../../assets/font/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.woff2") format("woff2");
    font-weight: 100 1000;   /* wght axis */
    font-stretch: 25% 151%;  /* wdth axis */
    font-style: oblique -10deg 0deg; /* slnt axis */
    font-display: swap;
}