<div class="fixed-full z-2 pointer-events-none opacity-0 bg-black/15 transition-opacity duration-300" :class="{ 'opacity-100!': $store.data.activeIndex > -1 && ($store.data.dropdownMenuOpen || $store.data.megaMenuOpen) }"></div>
</body>
</html>