<section class="lg:clamp-[pl,24px,54px,1024px,1680px]">
    <div class="bg-secondary lg:clamp-[rounded-l,16px,24px] clamp-[py,60px,90px] overflow-hidden">
        <div class="container">
            <div class="grid grid-cols-12 gap-6 max-lg:grid-cols-1">
                <div class="lg:col-span-4 lg:clamp-[py,24px,173px,1024px,1680px]"
                     data-animation style="--translate-x: -50px; --blur: 4px;">
                    <div class="inline-flex items-center clamp-[gap,8px,18px] clamp-[mb,16px,30px]">
                        <img src="assets/image/favicon-white.svg" alt="" loading="lazy" width="26" height="29" class="w-6.5">
                        <p class="clamp-[text,16px,18px] leading-relaxed text-white">Hakkımızda</p>
                    </div>
                    <h2 class="text-h2 font-medium text-white">Özel Artuklu Dil, Konuşma ve Ergoterapi Merkezi</h2>
                    <p class="clamp-[text,16px,24px] text-white clamp-[my,24px,50px]">Dil,Konuşma Bozuklukları ve Ergoterapi Alanında Uluslararası Standartlarda Hizmet Veriyoruz.</p>
                    {{> partials/components/button.hbs
                        color="white"
                        text="Bizi Tanıyın"
                        icon="icon-arrow-right"
                        url="about-us.html"
                    }}
                </div>
                <div class="col-span-1 max-xl:hidden"></div>
                <div class="xl:col-span-7 max-xl:lg:col-span-8">
                    <div class="w-[calc(100%+var(--left))] h-full origin-right"
                         data-animation style="--blur: 4px; --scale: 0.95">
                        <img src="assets/image/index/image-7.jpg" alt="" loading="lazy" width="1087" height="745" class="full-cover clamp-[rounded-l,16px,24px]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>