<section>
    <div class="container">
        <div class="grid grid-cols-12 gap-6 max-lg:grid-cols-1">
            <div class="lg:col-span-3">
                <div class="w-full relative clamp-[py,30px,100px]">
                    <span class="absolute left-0 top-0 w-[calc(100%+var(--left))] h-full -translate-x-(--left) bg-secondary clamp-[rounded-r,16px,24px]"></span>
                    <div class="relative flex flex-col justify-between clamp-[gap,30px,222px]"
                         data-animation style="--translate-x: -50px; --blur: 4px;">
                        <div>
                            <div class="inline-flex items-center clamp-[gap,8px,18px] mb-4">
                                <img src="assets/image/favicon-white.svg" alt="" loading="lazy" width="26" height="29" class="w-6.5">
                                <p class="clamp-[text,16px,18px] leading-relaxed text-white">SSS</p>
                            </div>
                            <h2 class="text-h2 font-medium text-white">Sıkça Sorulan Sorular</h2>
                        </div>
                        {{> partials/components/button.hbs
                            color="white"
                            text="Tümünü Gör"
                            icon="icon-arrow-right"
                            url="faq.html"
                            class="max-lg:hidden"
                        }}
                    </div>
                </div>
            </div>
            <div class="xl:col-span-1 max-xl:hidden"></div>
            <div class="xl:col-span-8 max-xl:lg:col-span-9">
                <div x-data="{ activeIndex: 0 }" class="flex flex-col clamp-[gap,12px,16px]">
                    {{#each (array "Çocuğum geç konuşuyor, ne yapmalıyım?" "Konuşma geriliği kendiliğinden geçer mi?" "Çocuğum geç konuşuyor, ne yapmalıyım?" "Konuşma geriliği kendiliğinden geçer mi?" "Çocuğum geç konuşuyor, ne yapmalıyım?" "Konuşma geriliği kendiliğinden geçer mi?") as |item|}}
                        {{> partials/components/faq-card.hbs item=item }}
                    {{/each}}
                </div>
            </div>
            <div class="flex-center lg:hidden">
                {{> partials/components/button.hbs
                    color="white"
                    text="Tümünü Gör"
                    icon="icon-arrow-right"
                    url="faq.html"
                }}
            </div>
        </div>
    </div>
</section>