<section class="clamp-[py,30px,100px]">
    <div class="container">
        <div class="bg-center bg-cover bg-no-repeat rounded-4 overflow-hidden clamp-[py,50px,100px] clamp-[px,24px,137px] relative" style="background-image: url('assets/image/index/abstract.jpg')">
            <div class="absolute-full bg-primary mix-blend-difference"></div>
            <div class="absolute-full bg-dark/50"></div>
            <div class="flex lg:items-center clamp-[gap,20px,77px] relative z-2 max-lg:flex-col">
                <div class="inline-flex items-center clamp-[gap,10px,16px]">
                    <div class="clamp-[size,40px,62px] bg-primary rounded-full flex-center">
                        <i class="icon-map clamp-[text,24px,32px] clamp-[h,24px,32px] text-white"></i>
                    </div>
                    <p class="text-h2 font-medium text-white">Konumumuz</p>
                </div>
                <p>
                    <a href="https://maps.google.com" target="_blank" class="clamp-[text,20px,30px] text-white lg:transition-all lg:duration-450 lg:underline-text lg:hover:bg-size-full">Konak Caddesi 2. Sokak, NO: 3, Mardin/Artuklu		47200</a>
                </p>
            </div>
        </div>
    </div>
</section>